@import "./../variables.scss";

.carousel-container-for-persons {
  max-width: 350px;
  margin: 0 auto;
}

.carousel-container-for-logos {
  max-width: 280px;
  // padding: 0 50px;

  @media (min-width: $tablet-width) {
    max-width: 660px;
  }

  @media (min-width: $small-desktop-width) {
    max-width: 1200px;
  }

  @media (min-width: $big-desktop-width) {
    max-width: 1920px;
  }
}

.carousel-wrapper {
  position: relative;
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel-button-group {
  position: absolute;
  top: 59px;
  left: 0;
  width: 360px;
  height: 50px;
}
