.button-slider {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: inherit;
  border: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/images/slider-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px 50px;
    content: "";
  }

  &--left {
    left: 0;
  }

  &--right {
    right: 0;
    transform: rotate(180deg);
  }
}
