@font-face {
  font-weight: 100;
  font-family: "Roboto";
  font-style: normal;
  src: url("Roboto-Thin.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("Roboto-Bold.ttf");
  font-display: swap;
}

@font-face {
  font-weight: bold;
  font-family: "Roboto";
  font-style: normal;
  src: url("Roboto-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 300;
  font-family: "Lato";
  font-style: normal;
  src: url("Lato-Light.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 400;
  font-family: "Lato";
  font-style: normal;
  src: url("Lato-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-weight: 700;
  font-family: "Lato";
  font-style: normal;
  src: url("Lato-Bold.ttf");
  font-display: swap;
}
