@import "@styles/variables.scss";

.footer {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background-color: #366da1;
}

.footer__map,
.footer__building-background,
.footer__building {
  width: 100%;
  height: 200px;
  border: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    height: 502px;
  }
}

.footer__wrapper-for-map-ang-photo {
  width: 100%;
  max-width: 1944px;
  margin: 0 auto;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.footer__building-background {
  background-image: url("@assets/images/footer-building-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;

  @media (min-width: $tablet-width) {
    background-image: url("@assets/images/footer-building-desktop.jpg");
  }
}

.footer__wrapper-for-lower-lavel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  @media (min-width: $small-desktop-width) {
    flex-direction: row;
    height: 502px;
  }

  @media (min-width: $big-desktop-width) {
    width: 1920px;
    margin: 0 auto;
  }
}

.footer__wrapper-for-logo {
  display: flex;
  align-items: baseline;
  order: 3;
  height: max-content;

  @media (min-width: $small-desktop-width) {
    order: 0;
    padding-left: 38px;
  }
}

.footer__logo {
  display: block;
}

.footer__copyright {
  margin: 0 0 0 20px;
  font-size: calc(var(--item-font-size) - 4px);
}
