@import "@styles/variables.scss";

.services__wrapper-for-title {
  @media (min-width: $big-desktop-width) {
    width: 1920px;
    margin: 0 auto;
  }
}

.services__wrapper-for-vk-images {
  display: none;

  @media (min-width: $big-desktop-width) {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 96px;
    column-gap: 121px;
  }
}
