@import "../../styles/variables.scss";

.menu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 74vw;
  padding: 10px 20px;
  overflow-y: hidden;
  background-color: #d9d9d9;
}

.menu__nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #000000;
}

.menu__main-link {
  padding-top: 10px;
}

.menu__toggle {
  width: 30px;
  height: 30px;
  background-color: inherit;
  background-image: url("../../assets/images/plus-blue.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
  border: none;
  transform: rotate(45deg);

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.menu__nav-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  padding-top: 13px;
}

.menu__nav-item {
  &:not(:last-child) {
    margin-bottom: 25px;
  }
}

.menu__callback-wrapper {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../assets/images/menu-seporator.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 9px;
    content: "";
  }

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../assets/images/menu-seporator.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 9px;
    content: "";
  }
}

.menu__nav-link {
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
  text-decoration: none;
}
