@import "../../styles/variables.scss";

.header {
  position: fixed;
  z-index: 8;
  width: 100%;
  padding-top: 12px;
  background-color: #366da1;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

  @media (min-width: $small-desktop-width) {
    position: relative;
    border-bottom-right-radius: 29px;
    border-bottom-left-radius: 29px;
  }
}

.header__wrapper {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $tablet-width) {
    align-items: normal;
    justify-content: normal;
  }

  @media (min-width: $small-desktop-width) {
    box-sizing: border-box;
    width: 1200px;
    min-height: 110px;
    padding: 0 40px;
  }

  @media (min-width: $big-desktop-width) {
    width: 1470px;
    min-height: 150px;
  }
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px ;
  background-color: #366da1;

  @media (min-width: $small-desktop-width) {
    align-items: auto;
    width: auto;
  }
}

.nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.nav__toggle-line {
  display: block;
  width: 44px;
  height: 5px;
  background-color: rgb(173, 173, 173);
  border-radius: 6px;

  &:not(:last-child) {
    margin-bottom: 6px;
  }
}

.header__main-link {
  @media (min-width: $small-desktop-width) {
    display: flex;
    align-items: center;
  }
}

.header__logo {
  width: 37px;
  height: 44px;

  @media (min-width: $small-desktop-width) {
    width: 85px;
    height: 85px;
  }

  @media (min-width: $big-desktop-width) {
    width: 110px;
    height: 110px;
  }
}

.header__phone-btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: inherit;
  border: none;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background-color: rgba(173, 173, 173, 1);
    content: "";
    -webkit-mask-image: url("../../assets/images/header-phone.svg");
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 40px 40px;
  }

  @media (min-width: $small-desktop-width) {
    display: none;
  }
}

.nav__list {
  display: none;

  @media (min-width: $small-desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
  }
}

.nav__item {
  position: relative;
  display: flex;
  align-items: center;
  width: auto;
  padding: 0 22px;
  white-space: nowrap;
  text-align: center;
  animation-name: item;
  animation-timing-function: linear;
  animation-iteration-count: 1;

  @media (min-width: $small-desktop-width) {
    margin-right: 0;
    padding: 0 30px;
  }
}

.nav__link {
  display: block;
  box-sizing: border-box;
  width: 100%;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $big-desktop-width) {
    font-size: 40px;
  }
}

/* ///// */

@media (min-width: $small-desktop-width) {
  .nav__item:hover {
    background-color: rgba(60, 71, 88, 0.1);
  }

  .nav__item:hover .nav__open-lower-list {
    background-color: rgba(54, 109, 161, 1);
  }

  .nav__open-lower-list:hover + .nav__lower-list,
  .nav__item:hover .nav__lower-list {
    position: absolute;
    top: 110px;
    left: 0;
    display: block;
    background-color: rgba(54, 109, 161, 1);
  }

  .nav__lower-list-item--header {
    box-sizing: border-box;
    min-height: 50px;
    padding: 15px 25px;
    background-color: rgba(54, 109, 161, 1);
    box-shadow: inset 0 -5px 11px -7px rgb(60 71 88);
  }

  .nav__lower-list-item--header:hover {
    background-color: rgba(60, 71, 88, 0.1);
  }
}

// @media (min-width: $tablet-width) {
//   .nav__open-lower-list:hover + .nav__lower-list,
//   .nav__item:hover .nav__lower-list {
//     top: 84px;
//   }
// }

/* ///// */
