.work-advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 36px;
  margin-bottom: 110px;
}

.work-advantages__item {
  position: relative;
  padding-top: 292px;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 256px;
    height: 256px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 256px 256px;
    content: "";
  }

  &--arrow {
    &::before {
      background-image: url("@assets/images/workAdvantages/arrow.png");
    }
  }

  &--shield {
    &::before {
      left: -39px;
      background-image: url("@assets/images/workAdvantages/shield.png");
    }
  }

  &--agent {
    &::before {
      left: 18px;
      background-image: url("@assets/images/workAdvantages/agent.png");
    }
  }
}

.work-advantages__text {
  color: #000000;
  font-weight: 700;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.035em;
}
